.product-thumbnail {
  border: 1px solid rgb(61, 60, 60);
  padding: 5px;
  display: flex;
  text-transform: capitalize;
  margin: 0 20px 10px 0;
  justify-content: space-between;
  -webkit-transition: display 0.3s ease-in-out;
  -moz-transition: display 0.3s ease-in-out;
  -ms-transition: display 0.3s ease-in-out;
  -o-transition: display 0.3s ease-in-out;
  transition: display 0.3s ease-in-out;

  &.mark {
    background-color: rgb(123, 148, 194);
  }

  //ANIMATION
  -webkit-animation: fadein 0.3s linear forwards;
  animation: fadein 0.3s linear forwards;

  &.fade-in {
    -webkit-animation: fadein 0.3s linear forwards;
    animation: fadein 0.3s linear forwards;
  }

  &.fade-out {
    -webkit-animation: fadeout 0.3s linear forwards;
    animation: fadeout 0.3s linear forwards;
  }

  .img-content-wrapper {
    display: flex;
    img {
      margin-right: 15px;
      flex: 1;
    }
    .product-info {
      display: flex;
      flex-direction: column;
      flex: 4;
    }
  }

  .btn-delete {
    align-self: flex-end;
    background-color: orange;
  }
}
